@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*------------------GENERAL---------------------------*/

body {margin: 0px;padding-top:0;}

body,html{
  font-family: montserrat;
  font-weight:normal;
  background-color: #c5d5cb;;
}

body>header{
	display: flex;
	flex-direction: column;
	text-align: center;
}

/*------------------LOGO DE HEADER-----------------------*/

.cookidologo{
	align-self: center;
	width: 20%;
}

/*------------------------BARRA DE NAVEGACION-------------------*/

#barranavegacionid{
  width:auto;
  min-width:300px;
  height: 45px;
  margin:0 auto;
  position:relative;
  overflow:no-display;
  color: #FFF;
  background: #9fa8a3;
  border-bottom: 2px solid #9fa8a3;
}

#barranavegacionid ul,#barranavegacionid li{

  margin:0 auto;
  padding:0 0;
  list-style:none;
  display: flex;
}

#barranavegacionid ul{
  margin-left: 10px;
  height:45px;
  width:100%
}

#barranavegacionid li{
	float:left;
	display:inline;
	position:relative;
}

#barranavegacionid a{
	display: block;
  font-size:120%;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: black;
}
#barranavegacionid li a:hover{
  color: #e3e0cf;

}
#barranavegacionid input{display:none;margin:0 0;padding:0 0;width:80px;height:30px;opacity:0;cursor:pointer
}
#barranavegacionid label{
	font:normal 20px Arial;
  display:none;
  width:35px;
  height:36px;
  line-height:36px;
  text-align:center;
  float:right;

}
/*----------------- ORDENACIÓN ---------------- */
.ordenacion{
  margin: 20px 30px 0 30px;
  display: flex;
  border:1px solid #9fa8a3;
  padding: 0;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.ordenacion>li:nth-child(1){

}
.ordenacion>li:nth-child(1) input{
  width:300px;
}

.ordenacion>li:nth-child(2){
  font-size: 13px;
}

.ordenacion li{
  list-style-type: none;
  padding: 10px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

/*----------------- RECETAS INDEX ----------------*/

.articleindex, .articlereceta
{
    /*margin:0 30px;
     background-color: #e3e09f;
     padding: 20px;
     margin-top: 20px;*/

     background: #9fa8a3;;
     border: 0 none;
     border-radius: 3px;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
     padding: 15px 30px;
     box-sizing: border-box;
     width: 80%;
     margin: 0 auto;
     position: relative;
     padding: 20px;
     margin-top: 20px;
}

.articleindex img, .articlereceta img{
    /*height: 300px;
    width: 500px;
    padding: 0;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/

    display: block;
    margin-left: 4%;
    margin-right: auto;
    width: 193%;
    margin-bottom: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

}

.contenedor {
  position: relative;
  width: 50%;
}

.articleindex p, .articlereceta p{
  text-align: center;
}
.articleindex a, .articlereceta a{
  text-align: center;
  text-decoration: none;
  color: black;
}
/* ---------------- RECETA ------------*/
#piefotoreceta{
  margin-left: 2%;
  text-align: left;
  font-size: .9em;
  font-style: italic;
}
#autoreceta{
  margin-left: 2%;
  text-align: left;
}
#autoreceta a:hover{
  color: #e3e0cf;
}

.articlereceta h2{
  text-align: center;
  font-size: 1.5em;
}
.articlereceta ul{
  margin:0;
  padding: 0;
}
.articlereceta li{
  list-style-type: none;

}

/*-----NUEVA RECETA -----*/
#fotosanyadidas img{
  text-align: center;
   display: block;
    margin-top: 15px;
    margin-right: auto;
    width: 100%;
    margin-bottom: 4px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

#fotosanyadidas button{
  margin-bottom: 4%;
}
#dificultad,#dificultad>select{
  margin: 3% 1%;
}

/* ----------- COMENTARIS -------*/
#cabeceracoment{
  margin-top: 40px;
  text-align: center;
}
.comentarios{
     background: #9fa890;;
     border: 0 none;
     border-radius: 3px;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
     padding: 15px 30px;
     box-sizing: border-box;
     width: 80%;
     margin: 0 auto;
     position: relative;
     padding: 20px;
     margin-top: 20px;
}

/*-----------------FORMULARI REGISTRE I LOGIN------------------*/

#formulariologin {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#formulariologin div {
  background: #9fa8a3;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#formulariologin input, #formulariologin textarea {
  outline: none;
  padding: 15px;
  border: 3px solid #c5d5cb;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  font-size: 13px;
}

#formulariologin .action-button {
  width: 100px;
  background: #c5d5cb;
  font-weight: bold;
  color: black;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#formulariologin .action-button:hover, #formulariologin .action-button:focus {
  box-shadow: 0 0 0 2px #e3e0cf;
}

#formulariologin input:hover, #formulariologin input:focus {
  box-shadow: 0 0 0 3px #e3e0cf;
}

/*---------------------FORMULARI BUSQUEDA---------------------------------*/

.formulariobusqueda {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.formulariobusquedacampos {
  background: #9fa8a3;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.formulariobusquedacampos:not(:first-of-type) {
  display: none;
}

.formulariobusqueda input, .formulariobusqueda textarea, .formulariobusqueda select {
  outline: none;
  padding: 15px;
	border: 3px solid #c5d5cb;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  font-size: 13px;

}

.formulariobusqueda .action-button {
  width: 100px;
  background: #c5d5cb;
  font-weight: bold;
  color: black;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.formulariobusqueda .action-button:hover, .formulariobusqueda .action-button:focus {
  box-shadow: 0 0 0 2px #e3e0cf;
}

.formulariobusqueda input:hover, .formulariobusqueda input:focus {
  box-shadow: 0 0 0 3px #e3e0cf;
}

.formulariobusqueda select:hover, .formulariobusqueda select:focus {
  box-shadow: 0 0 0 3px #e3e0cf;
}

.dificultad{
  font-size: 15px;
  float:left;
  font-weight: bold;
}

/*---------------------------------ACERCA DE------------------------*/

.descrip{
  width: 96%;
  margin:0 auto;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  position: relative;

}

.datos_curso{
  margin-top:3%;
  text-align: center;
  padding: 2% 3%;
  background-color: #9fa8a3;
  font-size: 1em;
  font-weight: bold;
}

.joan{
  width: 20%;
}

.amador{
  width: 20%;
}
/*------------- PAGINACIÓ ------------*/

#paginacion{
  padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}
#paginacion a{
  text-decoration: none;
  color:inherit;/*
  background-color: #9fa8a3;*/
  padding: 0.2em 0.6em;
  display: inline-block;
  font-size: 0.9em;

}
#paginacion a:hover{
  background-color: #e3e0cf;
}

/*-------------------------------FOOTER--------------------------------*/

footer {
		margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  	background:#9fa8a3;
		text-align: center;
	  margin:0 auto;
}

.footerseccion{
	display: inline-block;
	display: flex;
	margin-top: 3%;
}

.footerinfo{
	margin-bottom: 2%;
}

/*--------ICONS------------*/

.iconito{
  color: #c5d5cb;
}

.iconito:hover{
  color: #e3e0cf;
}

.footerinfo a{
  text-decoration: none;
  color: #c5d5cb;
}

.footerinfo a:hover {
  color: #e3e0cf;
}

/*---------------------------MEDIA QUERIS---------------------------*/

@media screen and (max-width: 800px){

  .formulariobusqueda {
    width: 100%;
  }
  .formulariobusquedacampos {
    width: 80%;
  }

}
@media screen and (max-width: 600px){

	#formulariologin {
	  width: 90%;
	}

  .cookidologo{
  align-self: center;
  width: 50%;
  }

  #barranavegacionid{
    position:relative;
    color: #FFF;
    background: #9fa8a3;
    border-bottom: 0px solid #222;
  }

  #barranavegacionid ul{
    top:100%;
    left:0;
    height:auto;
    display:none;
    position:absolute;
    z-index:3;
    background: #9fa8a3;
    color: #fff;
    background-color: #9fa8a3;
  }

  #barranavegacionid li{
    width:auto;
    display:block;
    float:none;
  }

  #barranavegacionid input,#barranavegacionid label{
    margin:0  2%;
    float:right;
    display:block;
    position:absolute;
  }

  #barranavegacionid input{z-index:10;}

  #barranavegacionid input:checked ~ ul{display:block}

  .fa-bars {
    color: black;
  }

  .formulariobusqueda {
    width: 100%;
  }
  .formulariobusquedacampos {
    width: 80%;
  }

  .articleIndex{
    width:145%;
  }


  /*.articleindex img{
    height: 200px;
    width: 300px;
    padding: 0;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

  }*/

  .ordenacion>li:nth-child(1) input{
  width:150px;
  }
  #paginacion a{
    font-size: 0.8em;
  }
}
