@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
	font-family: montserrat, arial, verdana;
	background: #f1f1f1;
	/*overflow-y: hidden;*/
}

body {margin: 0px;padding-top:0;}

/*Para esconder la barra lateral,
la horizontal no se esconde porque si
nos sale es que algo estamos haciendo mal*/
#element::-webkit-scrollbar {
    display: none;
}
body section{
    padding: 20px;
}



/* HEADER */
header {
	width: 100%;
  position: absolute;
  top:0;
  left: 0;
  height: 200px;
  text-align: center;
}
header a{
  text-decoration: none;
  color:black;
}
header ul{
  text-align: center;
  display: inline-block;
  padding-right: 10%;
  margin-top:40px;
  margin-bottom: 100px;
}
header ul li{
  list-style-type: none;
  display: inline-block;

}
header ul li img{
  margin-bottom: 90%;
  margin-left: 180%;
  height: 40px;
  width: 40px;

}
header ul li h1{
  text-align: center;
}

/* NAVBAR */
nav{
	position: absolute;
	top: 200px; /*172*/
	background-color: green;
	width:100%;
	left:0;

}
nav ul{
	margin-top:0;
	margin-bottom: 0;
	display: flex;
    padding: 0;
    background-color: #333;
}

nav li{
	list-style-type: none;
	padding: 10px;
  	text-align: center;
  	box-sizing: border-box;
  	background-color: #9fa8a3;
  	flex:1;
  	/*border: 5px solid #ffcc5c;*/
}
nav li:hover{
	background-color: #c5d5cb
}
nav li a{
	text-decoration: none;
	color: black;
}

.ordenacion{
	display: flex;
	border:1px solid #9fa8a3;
	padding: 0;
}
.ordenacion>li:nth-child(1){
	margin-left: 20%;
}
.ordenacion>li:nth-child(1) input{
	width:300px;
}

.ordenacion>li:nth-child(2){
	font-size: 13px;
}
.ordenacion li{
	list-style-type: none;
	padding: 10px;
  	text-align: center;
  	box-sizing: border-box;
  	flex: 1;

}



body > section{
  	display: inline-block;
}




.contenido{
	margin-top: 240px;
}
.articleindex{
     background-color: #ddd;
     padding: 20px;
     margin-top: 20px;
}

.articleindex img{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/*.logo{
	color:#00000000;
	float: left;
	padding-left: 25px;
	font-size: 16px;
	font-weight: bold;
}
nav{
	background-color: #ffffffff;
	color: #00000000;
	list-style: none;
	text-align: right;
	padding: 20px 0 0 0;
}

nav li{
	display: inline-block;
	padding: 0 25px 0 25px;
}*/

/*body>nav>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 1.5em;
	overflow: hidden;

	transition:max-height 1s ease-in-out;
}

	body>nav>ul>li>a{
		display: block;

	}
	body>nav>ul>li{
		display: block;
		padding: .2em 0 .2em .2em;
		text-decoration: none;
		font-weight: bold;
	}

	body>nav>ul>li>a:hover{
		background-color: #555555;
	}

	body>nav>ul>li:first-of-type>label{
		font-weight: bold;
		margin-left:2em;
		display: inline-block;
		font-size: 1.5em;
		cursor: pointer;

		transition: transform 1s ease-in-out;
	}*/

#checkboxmenu{
	display: none;
}

#checkboxmenu:checked+ul{ /*cuando este checked va a cambiar el valor de su hermano ul*/
	max-height: 20em; /*da igual no va a llegar*/
}

	#checkboxmenu:checked+ul>li:first-of-type>label{
		transform: rotate(90deg);
	}
#paginacion{
	padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}
#paginacion a{
	text-decoration: none;
	color:inherit;
	background-color: red;
	padding: 0.2em;

}

/*FOOTER*/

footer {
		margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  	background:#9fa8a3;
		text-align: center;
	  margin:0 auto;
}

.footerseccion{
	display: inline-block;
	display: flex;
	margin-top: 3%;
}

.footerinfo{
	margin-bottom: 2%;
}

/*Icons red socials*/

.iconito{
  color: #c5d5cb;
}

.iconito:hover{
  color: #e3e0cf;
}

.footerinfo a{
  text-decoration: none;
  color: #c5d5cb;
}

.footerinfo a:hover {
  color: #e3e0cf;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 800px){

}
@media screen and (max-width: 600px){

	#formulariologin {
	  width: 90%;

	}

}

@media all and (min-width: 480px){
	body>nav>ul>li{
		display: inline-block;
	}
	body>nav>ul>li:first-of-type>label{
		display: none;
	}
	body>nav>ul>li>a>span:nth-of-type(2){
		display: none;
	}
}

@media all and (min-width: 500px;){

}

@media all and (min-width: 640px;){
	body>nav>ul>li>a>span:nth-of-type(2){
		display: inline-block;
	}
}

/*Formulari Registre y Login*/
#formulariologin {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#formulariologin div {
  background: #9fa8a3;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#formulariologin input, #formulariologin textarea {
  outline: none;
  padding: 15px;
  border: 3px solid #c5d5cb;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  font-size: 13px;
}

#formulariologin .action-button {
  width: 100px;
  background: #c5d5cb;
  font-weight: bold;
  color: black;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#formulariologin .action-button:hover, #formulariologin .action-button:focus {
  box-shadow: 0 0 0 2px white;
}

/*Formulari búsqueda*/

.formulariobusqueda {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.formulariobusquedacampos {
  background: #9fa8a3;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.formulariobusqueda input, .formulariobusqueda textarea, .formulariobusqueda select {
  outline: none;
  padding: 15px;
	border: 3px solid #c5d5cb;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  font-size: 13px;

}

.formulariobusqueda .action-button {
  width: 100px;
  background: #c5d5cb;
  font-weight: bold;
  color: black;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.formulariobusqueda p {
  margin-bottom: 5%;
	font-weight: bold;
}

.formulariobusqueda .action-button:hover, .formulariobusqueda .action-button:focus {
  box-shadow: 0 0 0 2px white;
}

.formulariobusqueda h3{
	font-size:17px;
	text-align: center;
}

.dificultad{
  font-size: 15px;
  float:left;
}

/*ACERCA DE------- */

.acercade {
	width: 60%;
  margin: 50px auto;
  text-align: center;
  position: relative;
	margin: none;
}
