
#checkboxmenu:checked+ul{ /*cuando este checked va a cambiar el valor de su hermano ul*/
	max-height: 20em; /*da igual no va a llegar*/
}
#checkboxmenu{
	display: none;
}



body>nav>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 1.5em;
	overflow: hidden;

	transition:max-height 1s ease-in-out;
}

body>nav>ul>li{
	display: block;
	padding: .2em 0 .2em .2em;
	text-decoration: none;
	font-weight: bold;
}

body>nav>ul>li>a:hover{
	background-color: #555555; 
}

